@font-face {
    font-family: "PT Sans N";
    src: url("./components/font/ptsansnarrow.woff2") format("woff2"),
    url("./components/font/ptsansnarrowbold.woff2") format("woff2");
}

body {
    font-family: "PT Sans N", Stapel, sans-serif;
    letter-spacing: 0.02em;
    color: #231F20;
    font-size: 20px;
}

.app-wrapper {
    max-width: 1248px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.95);
}

.app-wrapper_flex_container {
    display: flex;
    justify-content: space-between;
}
